<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" id="username" #username class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="addUser(username.value)">add username</button>
      </div>
      <hr>
    </div>

  </div>
  <div class="row">
    <div class="col-4">
      <app-one></app-one>
    </div>
    <div class="col-4">
      <app-two></app-two>
    </div>
    <div class="col-4">
      <app-three></app-three>
    </div>
  </div>
</div>